[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg = {extras = ["binary"], version = "*"}
djangorestframework-simplejwt = "*"
channels = {extras = ["daphne"], version = "*"}
channels-redis = "*"
drf-nested-routers = "*"
djoser = "*"

[dev-packages]

[requires]
python_version = "3.14"
